@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

}

body {
    width: 100%;
    height: 100vh;
}





/*********************header******************/
.header {
    grid-area: header;
    background-color: #184e77;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header img {
    width: 40%;
    animation-name: texto;
    animation-duration: 2s;
    animation-iteration-count: 1;

}

@keyframes texto {
    from

    /* inicio */
        {
        transform: translateX(1300px);
    }

    to

    /* final */
        {
        transform: translate(0);
    }
}

.header .nav ul {
    display: flex;
    list-style: none;

}

.header .nav ul li {
    margin: 30px;
}


.header .nav ul li a {
    font-size: xx-large;
    text-decoration: none;
    color: rgb(243, 240, 240);
    text-shadow: 2px 2px 2px black;

}

.header .nav ul li a:hover {
    color: rgb(250, 211, 211);
}


/************************main*************/
.main {
    grid-area: main;
    background-color: #c9d6da;

}

/*novedades*/
.novedades {
    margin-bottom: 30px;
}

.novedades .article1 {
    text-align: center;

}

.novedades .article2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}

.novedades article iframe {
    width: 555px;
    height: 400px;
    margin: 15px;
}

.novedades article img {

    width: 555px;
    height: 400px;
    margin: 15px;
}

.novedades h4 {

    text-align: center;
    font-size: 30px;
}

.novedades .hero>h2 {
    margin-bottom: 30px;
}

.novedades a {
    text-decoration: none;
    color: azure;

    font-size: 30px;
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px;
    color: #fff;
    background: linear-gradient(45deg, red, blue, green, black);
    background-size: 400% 400%;
    position: relative;
    animation: cambiar 10s ease-in-out infinite;
}

@keyframes cambiar {
    0% {
        background-position: 0 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0 50%;
    }
}

.novedades a:hover {
    background-color: red;

}

/*promociones*/
.promociones h2 {
    text-align: center;
}


.promociones article {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;

}

.promociones article div {
    width: 355px;
    height: 450px;
    margin-bottom: 30px;
    border: 2px solid black;
    box-shadow: 10px 10px 30px 10px black;
    border-radius: 15px;
    background-color: rgb(118, 118, 204);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    transition: 1s;
}

.promociones article div h3,
p {
    text-align: center;
    color: white;
    font-weight: 900;
    border-radius: 15px 15px 0 0;
    transition: 1s;
}

.promociones article div img {
    border-radius: 15px;
    width: 350px;
    height: 300px;

}

.promociones article div a {
    background-color: aliceblue;
    color: rgb(15, 15, 80);
    border-radius: 5px;
    font-weight: 900;
    text-decoration: none;
}


.promociones article div:hover {
    transform: scale(1.1);

}

/*paginas*/
.paginas {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.paginas section {
    margin-bottom: 25px;
}

.paginas section article iframe {
    width: 800px;
    height: 600px;
}

.paginas section article>img {
    width: 1000px;
    height: 600px;
}

.paginas section article h2,
p,
h3 {
    color: black;
    text-align: center;
}







/****************footer*******************/
.footer {
    grid-area: footer;
    background-color: #184e77;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.footer img {
    width: 50px;
    height: 50px;
}

/******************mediaqueries*******************/

/***********desktop********/
/*default*/

/**********tablet**********/
@media screen and (max-width:1024px) {

    /*header*/
    .header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;


    }

    .header img {
        margin-left: 170px;
    }


    /*nav*/
    .header .nav {
        display: flex;
        justify-content: space-around;
        justify-content: center;
    }

    .header .nav ul li {
        margin: 5px;
    }

    /*main*/
    .novedades article iframe {

        width: 600px;
        height: 400px;
        margin: 5px;
    }

    .novedades article img {

        width: 600px;
        height: 400px;
        margin: 5px;
    }

    .novedades .article2 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

    }

    .promociones article {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

    }

    .novedades .hero {
        margin: 25px;
    }

    .promociones article>div {
        margin: 25px;
    }


    .paginas section article img {
        width: 600px;
        height: 360px;
    }

    /*footer*/
    .footer {


        display: flex;
        justify-content: center;
        align-items: center;
    }
}

/*celu y tablet*/
@media screen and (max-width:800px) {
    .nav {

        display: flex;
        flex-direction: column;

    }

    .header .nav ul {
        flex-direction: column;
        text-align: center;
    }

    .paginas section article iframe {
        width: 500px;
        height: 300px;
    }


}

/***********cel**********/
@media screen and (max-width:610px) {

    .novedades article iframe {

        width: 500px;
        height: 300px;
        margin: 5px;
    }

    .novedades article img {

        width: 500px;
        height: 300px;
        margin: 5px;
    }

}

@media screen and (max-width:620px) {
    .paginas section article img {
        width: 400px;
        height: 200px;
    }
}



@media screen and (max-width:520px) {

    .header img {
        margin-left: 130px;
    }

    .novedades article iframe {

        width: 400px;
        height: 200px;
        margin: 5px;
    }

    .novedades article img {

        width: 400px;
        height: 200px;
        margin: 5px;
    }

    .paginas section article iframe {
        width: 300px;
        height: 250px;
    }



}

@media screen and (max-width:450px) {
    .header .nav ul li a {
        font-size: x-large;

    }

    .header .footer h3 {
        font-size: small;
    }

    .novedades article iframe {

        width: 300px;
        height: 200px;
        margin: 5px;
    }

    .novedades article img {

        width: 300px;
        height: 200px;
        margin: 5px;
    }

    .promociones article div {
        width: 255px;
        height: 300px;
    }

    .promociones article div img {

        transition: width 2s;
        height: 2s;
        border-radius: 15px;
        width: 250px;
        height: 150px;
    }

    .promociones article div img:hover {
        width: 300px;
        height: 200px;

    }
}

@media screen and (max-width:320px) {
    .header img {
        margin-left: 100px;
    }

}
