@media screen and (max-width:910px) {
    .novedades {
        .video iframe {
            width: 450px;
            height: 400px;
            margin: 15px;
        }

        .foto img {

            width: 450px;
            height: 400px;
            margin: 15px;
        }
    }


    .quienes .fotoq img {

        width: 500px;
        height: 300px;
        margin: 5px;

    }

    .svctec div img {
        width: 450px;
    }
}

@media screen and (max-width:750px) {

    .novedades {
        .video iframe {
            width: 375px;
            height: 300px;
            margin: 5px;
        }

        .foto img {

            width: 375px;
            height: 300px;
            margin: 5px;
        }
    }

    .hero {
        h2 {
            font-size: 30px;

        }

        p {
            font-size: 20px;
        }

        a {

            padding: 5px;
            font-size: 30px;
        }

    }

    .contacto {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;


    }
}

@media screen and (max-width:700px) {
    .quienes .fotoq img {

        width: 400px;
        height: 300px;
        margin: 5px;

    }
}

@media screen and (max-width:660px) {
    .novedades {
        .video {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        .foto {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

        }


    }



    .svctec {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

}

@media screen and (max-width:575px) {
    .novedades {
        .foto .texto {
            width: 350px;

        }

        .video .texto {
            width: 350px
        }

    }

    .hero {
        h2 {
            font-size: 30px;

        }

        p {
            font-size: 15px;


        }

        a {

            padding: 5px;
            font-size: 20px;
        }

    }



    .contacto div iframe {
        width: 350px;
        height: 250px;
    }

    .formulario article h3 {
        margin: 50px;
    }

    .quienes .fotoq {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

@media screen and (max-width:450px) {

    .novedades {
        .video iframe {
            width: 300px;
            height: 200px;
            margin: 5px;
        }

        .foto img {

            width: 300px;
            height: 200px;
            margin: 5px;
        }
    }

    .promociones {
        article {
            div {
                width: 255px;
                height: 300px;

                img {

                    transition: width 2s;
                    height: 2s;
                    border-radius: 15px;
                    width: 250px;
                    height: 150px;
                }
            }

        }

        .promociones article div img:hover {
            width: 250px;
            height: 200px;

        }

        .quienes .fotoq img {

            width: 300px;
            height: 200px;
            margin: 5px;

        }

        .svctec div img {
            width: 300px;
        }
    }
}