@import "../base/_variables.scss";

/*hero*/

.hero {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(80vh - 150px);
    background: linear-gradient(rgba(0, 0, 0, 0.205), rgba(0, 0, 0, 0.205)), url(../imagenes/todoslosiphone.jpg);
    background-size: cover;
    background-attachment: fixed;

    h2 {
        font-size: 60px;
        font-weight: bold;
    }

    p {
        font-size: 30px;
        text-align: center;
    }
}

.boton {
    text-decoration: none;
    color: azure;
    font-size: 30px;
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px;
    color: rgb(0, 0, 0);
    background: linear-gradient(45deg, rgb(182, 162, 162), rgb(135, 135, 184), rgb(120, 189, 120), black);
    background-size: 400% 400%;
    position: relative;
    animation: cambiar 10s ease-in-out infinite;
}

@keyframes cambiar {
    0% {
        background-position: 0 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0 50%;
    }
}










/*main*/


.main {
    grid-area: main;
    background-color: map-get($map: $colores, $key: principal1);

}

/*novedades*/

.novedades {
    margin-bottom: 30px;



    .article1 {
        text-align: center;

        h2 {
            background-color: rgba(35, 35, 35, 90%);
            color: map-get($map: $colores, $key: blanco);
        }

    }

    .video {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        div {
            iframe {
                width: 600px;
                height: 400px;
                margin: 15px;
            }

            .texto {
                width: 550px;
            }
        }

    }

    .foto {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        .texto {
            width: 550px;
        }

        div {
            img {
                @include cajas(600px, 400px);
                margin: 15px;
            }
        }
    }





    a:hover {
        background-color: red;

    }
}



/*promociones*/
.promociones {
    h2 {
        text-align: center;
        margin-bottom: 35px;
        color: white;
        text-transform: uppercase;
        font-weight: 900px;
    }

    article {
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;

        .irtienda {
            @extend .boton;
            margin-bottom: 50px;
        }



        div {
            width: 355px;
            height: 450px;
            margin-bottom: 30px;
            border: 2px solid black;
            box-shadow: 10px 10px 30px 10px black;
            border-radius: 15px;
            background-color: rgb(209, 209, 209);
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            transition: 1s;



            a {
                background-color: aliceblue;
                color: rgb(15, 15, 80);
                border-radius: 5px;
                font-weight: 900;
                text-decoration: none;
                padding: 10px;
                margin-bottom: 15px;

            }

            img {
                border-radius: 15px;
                width: 350px;
                height: 300px;
            }

            p {
                text-align: center;
                color: black;
                font-weight: 900;
            }

            h3 {
                text-align: center;
                color: black;
                font-weight: 900;
                border-radius: 15px 15px 0 0;
                transition: 1s;
            }
        }

    }
}


.promociones article div:hover {
    transform: scale(1.1);

}



/*contacto*/
.contacto {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    div {
        text-align: center;
        width: 550px;

        iframe {
            width: 550px;
            height: 350px;
            margin: 30px;

        }

        h2 {
            background-color: $color-titulos;
            color: white;
        }
    }

}


.formulario {
    article {
        h3 {
            margin: 100px;
            text-align: center;
        }
    }
}




/*quienes somos*/

.quienes {
    article {
        h2 {
            text-align: center;
            background-color: $color-titulos;
            color: white;
        }
    }

    .fotoq {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        div {
            img {
                width: 700px;
                height: 500px;
                margin: 15px;
            }
        }
    }
}


/*servicio tecnico*/

.svctec {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;

    h2 {
        background-color: $color-titulos;
        color: white;
    }

    div {
        img {
            width: 550px;
        }
    }
}

/*tienda*/
.promociones {
    h2 {
        width: 100%;
        background-color: rgba(35, 35, 35, 90%);
    }
}